# Application Environment Variable (Required)
SPRING_PROFILES_ACTIVE=

# Application Environment Variable (Optional, uncomment to active)
ALLOWED_ORIGINS=

# Application Environment Variable (for auto binding)
