# Application Environment Variable (Required)
SPRING_PROFILES_ACTIVE=
ALLOWED_ORIGINS=

# Application Environment Variable (Optional, uncomment to active)

# Application Environment Variable (for auto binding)
